<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h3><%= @cocktail.name %></h3>
      <ul><% @cocktail.doses.each do |dose| %>
        <li><%="#{dose.ingredient.name}: #{dose.description}"%>
          <%= link_to "(click to remove this dose)", dose_path(dose.id), method: :delete %></li>
          <% end %>
          <%= link_to "Add a dose to this drink?", new_cocktail_dose_path(@cocktail.id) %>
        </ul>
        <%= link_to "back to list?", cocktails_path %>
      </div>
    </div>
  </div>
